.grist-config {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Liberation Sans, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 0px 20px;
    font-size: 14px;
    color: var(--grist-theme-text);
    outline: none;
    max-width: 750px;
    margin: 0px auto;
}

.grist-config .config-header {
    display: flex;
    flex-direction: row;
    padding: 8px;
}        

.grist-config .config-section {
    padding: 24px 20px;
    box-sizing: border-box;
    width: 100%;
    margin: 16px auto;
    border: 1px solid var(--grist-theme-widget-border);
    border-radius: 4px;
}

.grist-config .config-section .config-section-title{
    height: 32px;
    line-height: 32px;
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 600;
}

.grist-config .config-row{
    container-type: inline-size;
    container-name: line;
}      

.grist-config .config-row-header{
    display: flex;
    row-gap: 4px;
    flex-wrap: nowrap;
    align-items: center;
    padding: 8px;
    margin: 0 -8px;
    border-radius: 4px;
    justify-content: space-around;
    flex-direction: row;  
}

.grist-config .config-row-header:hover{
    background-color: var(--grist-theme-hover-light);
}

.grist-config .config-title{
    width: 230px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-right: 14px;
    font-size: 16px;
}

.grist-config .config-title.nocollapse {
    padding-left: 24px;
    width: 206px;
}

.grist-config .config-subtitle{
    width: 250px;
    margin-right: auto;
    margin-bottom: -1px;
    display: flex;
}

.grist-config .config-vo{
    width: 50%;
    display: flex;
}

.grist-config .config-input{
    background-color: transparent;
    color: var(--grist-theme-input-fg);
    border: 1px solid var(--grist-theme-input-border);
    padding: 4px;
    border-radius: 3px;
    outline: none;
    flex: 1 0 0;
    width: 100%;
}

.grist-config .config-value{
    flex: none;
    margin: -8px 0;
    padding: 8px;
    cursor: auto;
    max-width: 200px;
}

.grist-config .config-value.large{
    max-width: unset;
    width: 50%;
}

.grist-config .config-switch {
    position: relative;
    margin: -1px auto;
    width: 30px;
    height: 17px;
}

.grist-config .switch_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--grist-theme-switch-slider-fg, #ccc);
    border-radius: 17px;
}

.grist-config .switch_circle {
    position: absolute;
    cursor: pointer;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: var(--grist-theme-switch-circle-fg, white);
    border-radius: 17px;
}

.grist-config .switch_transition > .switch_slider,
.grist-config .switch_transition > .switch_circle {
    transition: .4s;
    -webkit-transition: .4s;
}

.grist-config .switch_on > .switch_slider {
    background-color: #2CB0AF;
}

.grist-config .switch_on > .switch_circle {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

.grist-config .config-button {
    box-sizing: content-box;
    min-width: 80px;
    position: relative;
    outline: none;
    border-style: none;
    line-height: normal;
    user-select: none;
    font-size: var(--grist-medium-font-size, 13px);
    letter-spacing: -0.08px;
    padding: 4px 12px;
    background-color: var(--grist-theme-control-primary-bg);
    color: var(--grist-theme-control-primary-fg);
    --icon-color: var(--grist-theme-control-primary-fg);
    border-color: var(--grist-theme-control-primary-bg);
    border-radius: var(--grist-border-radius, 4px);
    cursor: pointer;
}

.grist-config .config-button:hover {
    color: var(--grist-theme-control-primary-fg);
    --icon-color: var(--grist-theme-control-primary-fg);
    background-color: var(--grist-theme-control-primary-hover-bg);
    border-color: var(--grist-theme-control-primary-hover-bg);
}

.grist-config .config-header > .config-button:last-child {
    margin-left: auto;
}

.grist-config .auto-expand {
    min-height: 100px;
    overflow: hidden;
    resize: none;
    transition: height 0.1s ease;
}

.grist-config .details {
    padding: 0 0 8px 0;
    font-style: italic;
}

.grist-config .collapse {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    width: 16px;
    height: 16px;
    background-color: var(--icon-color, var(--grist-theme-text, black));
    width: 24px;
    height: 24px;
    margin-right: 4px;
    margin-left: -4px;
    --icon-color: var(--grist-theme-text-light);
    --icon-Collapse: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZmlsbD0iIzAwMCIgZmlsbC1ydWxlPSJub256ZXJvIiBkPSJNOCw5LjE3NDYzMDUyIEwxMC45MjE4MjczLDYuMTg5MDIzMiBDMTEuMTY4NDc0Miw1LjkzNjk5MjI3IDExLjU2ODM2NzksNS45MzY5OTIyNyAxMS44MTUwMTQ4LDYuMTg5MDIzMiBDMTIuMDYxNjYxNyw2LjQ0MTA1NDEzIDEyLjA2MTY2MTcsNi44NDk2NzcwMSAxMS44MTUwMTQ4LDcuMTAxNzA3OTQgTDgsMTEgTDQuMTg0OTg1MTksNy4xMDE3MDc5NCBDMy45MzgzMzgyNyw2Ljg0OTY3NzAxIDMuOTM4MzM4MjcsNi40NDEwNTQxMyA0LjE4NDk4NTE5LDYuMTg5MDIzMiBDNC40MzE2MzIxMSw1LjkzNjk5MjI3IDQuODMxNTI1NzgsNS45MzY5OTIyNyA1LjA3ODE3MjcsNi4xODkwMjMyIEw4LDkuMTc0NjMwNTIgWiIvPjwvc3ZnPg==');
    --icon-Expand: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZmlsbD0iIzAwMCIgZmlsbC1ydWxlPSJub256ZXJvIiBkPSJNOCw5LjE3NDYzMDUyIEwxMC45MjE4MjczLDYuMTg5MDIzMiBDMTEuMTY4NDc0Miw1LjkzNjk5MjI3IDExLjU2ODM2NzksNS45MzY5OTIyNyAxMS44MTUwMTQ4LDYuMTg5MDIzMiBDMTIuMDYxNjYxNyw2LjQ0MTA1NDEzIDEyLjA2MTY2MTcsNi44NDk2NzcwMSAxMS44MTUwMTQ4LDcuMTAxNzA3OTQgTDgsMTEgTDQuMTg0OTg1MTksNy4xMDE3MDc5NCBDMy45MzgzMzgyNyw2Ljg0OTY3NzAxIDMuOTM4MzM4MjcsNi40NDEwNTQxMyA0LjE4NDk4NTE5LDYuMTg5MDIzMiBDNC40MzE2MzIxMSw1LjkzNjk5MjI3IDQuODMxNTI1NzgsNS45MzY5OTIyNyA1LjA3ODE3MjcsNi4xODkwMjMyIEw4LDkuMTc0NjMwNTIgWiIgdHJhbnNmb3JtPSJyb3RhdGUoLTkwIDggOC41KSIvPjwvc3ZnPg==');
    mask-image: var(--icon-Expand);
}

.grist-config .open .collapse { 
    mask-image: var(--icon-Collapse);
}        

.grist-config .bloc {
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
    max-height: 0;
    margin-left: 24px;       
}

.grist-config .config-dyn{
    padding-left: 0px;
}

.grist-config .bloc-bottom {
    border-bottom: 1px solid var(--grist-theme-widget-border);
    margin-bottom: 15px;
}

.grist-config .config-button.dyn {
    margin-left: auto;
    min-width: 50px;
}

.grist-config .delete {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    width: 16px;
    height: 16px;
    background-color: var(--icon-color, var(--grist-theme-text, black));
    width: 24px;
    height: 24px;
    margin-right: 4px;
    margin-left: -4px;
    /* --icon-CrossBig: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0iIzAwMCIgZmlsbC1ydWxlPSJub256ZXJvIiBkPSJNMTMuNDE0MjEzNiwxMiBMMTkuNzA3MTA2OCwxOC4yOTI4OTMyIEMyMC4wOTc2MzExLDE4LjY4MzQxNzUgMjAuMDk3NjMxMSwxOS4zMTY1ODI1IDE5LjcwNzEwNjgsMTkuNzA3MTA2OCBDMTkuMzE2NTgyNSwyMC4wOTc2MzExIDE4LjY4MzQxNzUsMjAuMDk3NjMxMSAxOC4yOTI4OTMyLDE5LjcwNzEwNjggTDEyLDEzLjQxNDIxMzYgTDUuNzA3MTA2NzgsMTkuNzA3MTA2OCBDNS4zMTY1ODI0OSwyMC4wOTc2MzExIDQuNjgzNDE3NTEsMjAuMDk3NjMxMSA0LjI5Mjg5MzIyLDE5LjcwNzEwNjggQzMuOTAyMzY4OTMsMTkuMzE2NTgyNSAzLjkwMjM2ODkzLDE4LjY4MzQxNzUgNC4yOTI4OTMyMiwxOC4yOTI4OTMyIEwxMC41ODU3ODY0LDEyIEw0LjI5Mjg5MzIyLDUuNzA3MTA2NzggQzMuOTAyMzY4OTMsNS4zMTY1ODI0OSAzLjkwMjM2ODkzLDQuNjgzNDE3NTEgNC4yOTI4OTMyMiw0LjI5Mjg5MzIyIEM0LjY4MzQxNzUxLDMuOTAyMzY4OTMgNS4zMTY1ODI0OSwzLjkwMjM2ODkzIDUuNzA3MTA2NzgsNC4yOTI4OTMyMiBMMTIsMTAuNTg1Nzg2NCBMMTguMjkyODkzMiw0LjI5Mjg5MzIyIEMxOC42ODM0MTc1LDMuOTAyMzY4OTMgMTkuMzE2NTgyNSwzLjkwMjM2ODkzIDE5LjcwNzEwNjgsNC4yOTI4OTMyMiBDMjAuMDk3NjMxMSw0LjY4MzQxNzUxIDIwLjA5NzYzMTEsNS4zMTY1ODI0OSAxOS43MDcxMDY4LDUuNzA3MTA2NzggTDEzLjQxNDIxMzYsMTIgWiIvPjwvc3ZnPg=='); */
    --icon-CrossSmall: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PHBhdGggZmlsbD0iIzAwMCIgZmlsbC1ydWxlPSJub256ZXJvIiBkPSJNOC41LDcuNSBMMTIuNSw3LjUgQzEyLjc3NjE0MjQsNy41IDEzLDcuNzIzODU3NjMgMTMsOCBDMTMsOC4yNzYxNDIzNyAxMi43NzYxNDI0LDguNSAxMi41LDguNSBMOC41LDguNSBMOC41LDEyLjUgQzguNSwxMi43NzYxNDI0IDguMjc2MTQyMzcsMTMgOCwxMyBDNy43MjM4NTc2MywxMyA3LjUsMTIuNzc2MTQyNCA3LjUsMTIuNSBMNy41LDguNSBMMy41LDguNSBDMy4yMjM4NTc2Myw4LjUgMyw4LjI3NjE0MjM3IDMsOCBDMyw3LjcyMzg1NzYzIDMuMjIzODU3NjMsNy41IDMuNSw3LjUgTDcuNSw3LjUgTDcuNSwzLjUgQzcuNSwzLjIyMzg1NzYzIDcuNzIzODU3NjMsMyA4LDMgQzguMjc2MTQyMzcsMyA4LjUsMy4yMjM4NTc2MyA4LjUsMy41IEw4LjUsNy41IFoiIHRyYW5zZm9ybT0icm90YXRlKC00NSA4IDgpIi8+PC9zdmc+');
    mask-image: var(--icon-CrossSmall);
}

.grist-config textarea {
    width: 100%;
    margin-bottom: 8px;
    box-sizing: border-box;
}